@{
	ViewData["Title"] = "Home";
	ViewData["BodyClass"] = "home-bg";
}

<div class="text-center">
	<h1 class="display-4">ClassicoWear</h1>

	<p>Welcome to ClassicoWear - where style meets masculinity.</p>

	<div class="home-hero">
		<img class="home-hero-img" src="/images/FNC_4076-700x934.jpg"
			 alt="My photo" />
		<div class="home-hero-content">
		</div>
	</div>

</div>
